<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>review</title>
  </head>
  <body>
    <h1>Review</h1>
    <table>
      <thead>
        <tr>
          <th>Review ID</th>
          <th>Name</th>
          <th>Menu Name</th>
          <th>Comment</th>
          <th>Rating</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="reviews-body"></tbody>
    </table>
  </body>
</html>
