<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button class="add-btn">+ Add New</button>
    <table>
      <thead>
        <tr>
          <th>User ID</th>
          <th>Name</th>
          <th>Email</th>
           <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="users-body"></tbody>
    </table>
  </body>
</html>
